.git
.vscode
.temp
__pycache__
__init__.pyc
.pyc
env
venv
sample
example
.ipynb.checkpoints
.ipynb_checkpoints/*
.github
*.pyc
pgd
demo-db/data
demo-api-db/data
null
data
.vagrant
temp*
.terraform/
*.plan
*.tfvars
.idea
.code
.vscode